:host {
  --light-blue-color: #e3ecf2;
  --grey-color: rgb(52, 52, 52);
  color: black; 
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2200' height='1000' viewBox='0 0 2200 1000'%3E %3Cdefs%3E %3ClinearGradient id='vortex-rustrover' gradientTransform='rotate(-32 0.5 0.5)' color-interpolation='linearRGB' x1='1' y1='0' x2='0' y2='0'%3E %3Cstop offset='0.23' stop-color='%23FF5C00'/%3E %3Cstop offset='0.78' stop-color='%2367B05D' stop-opacity='0.8'/%3E %3Cstop offset='1' stop-color='%2321D789' stop-opacity='0.7'/%3E %3CanimateTransform attributeName='gradientTransform' type='rotate' values='0 0.5 0.5; -360 0.5 0.5;' dur='120s' repeatCount='indefinite'/%3E %3C/linearGradient%3E %3ClinearGradient id='vortex-rustrover-1' gradientTransform='rotate(-32 0.5 0.5)' color-interpolation='linearRGB' x1='1' y1='0' x2='0' y2='0'%3E %3Cstop offset='0.23' stop-color='%23FF5C00'/%3E %3Cstop offset='0.78' stop-color='%2367B05D' stop-opacity='0'/%3E %3Cstop offset='1' stop-color='%2321D789' stop-opacity='0'/%3E %3CanimateTransform attributeName='gradientTransform' type='rotate' values='0 0.5 0.5; -360 0.5 0.5;' dur='120s' repeatCount='indefinite'/%3E %3C/linearGradient%3E %3C/defs%3E %3Cg transform='translate(-88 -274) rotate(180 1100 500)'%3E %3Crect x='748' y='363.5' width='120' height='120' rx='24' ry='24' fill='url(%23vortex-rustrover-1)' fill-opacity='0.24' transform='rotate(276) scale(8.6)' transform-origin='868px 423.5px'%3E %3CanimateTransform values='0 -60 0;360 -60 0;' attributeName='transform' dur='120s' repeatCount='indefinite' type='rotate' additive='sum'%3E%3C/animateTransform%3E %3C/rect%3E %3Crect x='748' y='363.5' width='120' height='120' rx='24' ry='24' fill='url(%23vortex-rustrover-1)' fill-opacity='0.24' transform='rotate(257) scale(7.29)' transform-origin='868px 423.5px'%3E %3CanimateTransform values='0 -60 0;360 -60 0;' attributeName='transform' dur='120s' repeatCount='indefinite' type='rotate' additive='sum'%3E%3C/animateTransform%3E %3C/rect%3E %3Crect x='748' y='363.5' width='120' height='120' rx='24' ry='24' fill='url(%23vortex-rustrover-1)' fill-opacity='0.32' transform='rotate(238) scale(6.18)' transform-origin='868px 423.5px'%3E %3CanimateTransform values='0 -60 0;360 -60 0;' attributeName='transform' dur='120s' repeatCount='indefinite' type='rotate' additive='sum'%3E%3C/animateTransform%3E %3C/rect%3E %3Crect x='748' y='363.5' width='120' height='120' rx='24' ry='24' fill='url(%23vortex-rustrover)' fill-opacity='0.32' transform='rotate(219) scale(5.24)' transform-origin='868px 423.5px'%3E %3CanimateTransform values='0 -60 0;360 -60 0;' attributeName='transform' dur='120s' repeatCount='indefinite' type='rotate' additive='sum'%3E%3C/animateTransform%3E %3C/rect%3E %3Crect x='748' y='363.5' width='120' height='120' rx='24' ry='24' fill='url(%23vortex-rustrover)' fill-opacity='0.48' transform='rotate(200) scale(4.44)' transform-origin='868px 423.5px'%3E %3CanimateTransform values='0 -60 0;360 -60 0;' attributeName='transform' dur='120s' repeatCount='indefinite' type='rotate' additive='sum'%3E%3C/animateTransform%3E %3C/rect%3E %3Crect x='748' y='363.5' width='120' height='120' rx='24' ry='24' fill='url(%23vortex-rustrover)' fill-opacity='0.56' transform='rotate(181) scale(3.76)' transform-origin='868px 423.5px'%3E %3CanimateTransform values='0 -60 0;360 -60 0;' attributeName='transform' dur='120s' repeatCount='indefinite' type='rotate' additive='sum'%3E%3C/animateTransform%3E %3C/rect%3E %3Crect x='748' y='363.5' width='120' height='120' rx='24' ry='24' fill='url(%23vortex-rustrover)' fill-opacity='0.64' transform='rotate(162) scale(3.19)' transform-origin='868px 423.5px'%3E %3CanimateTransform values='0 -60 0;360 -60 0;' attributeName='transform' dur='120s' repeatCount='indefinite' type='rotate' additive='sum'%3E%3C/animateTransform%3E %3C/rect%3E %3Crect x='748' y='363.5' width='120' height='120' rx='24' ry='24' fill='url(%23vortex-rustrover)' fill-opacity='0.72' transform='rotate(143) scale(2.7)' transform-origin='868px 423.5px'%3E %3CanimateTransform values='0 -60 0;360 -60 0;' attributeName='transform' dur='120s' repeatCount='indefinite' type='rotate' additive='sum'%3E%3C/animateTransform%3E %3C/rect%3E %3Crect x='748' y='363.5' width='120' height='120' rx='24' ry='24' fill='url(%23vortex-rustrover)' fill-opacity='0.8' transform='rotate(124) scale(2.29)' transform-origin='868px 423.5px'%3E %3CanimateTransform values='0 -60 0;360 -60 0;' attributeName='transform' dur='120s' repeatCount='indefinite' type='rotate' additive='sum'%3E%3C/animateTransform%3E %3C/rect%3E %3Crect x='748' y='363.5' width='120' height='120' rx='24' ry='24' fill='url(%23vortex-rustrover)' fill-opacity='0.88' transform='rotate(105) scale(1.94)' transform-origin='868px 423.5px'%3E %3CanimateTransform values='0 -60 0;360 -60 0;' attributeName='transform' dur='120s' repeatCount='indefinite' type='rotate' additive='sum'%3E%3C/animateTransform%3E %3C/rect%3E %3Crect x='748' y='363.5' width='120' height='120' rx='24' ry='24' fill='url(%23vortex-rustrover)' fill-opacity='0.96' transform='rotate(86) scale(1.64)' transform-origin='868px 423.5px'%3E %3CanimateTransform values='0 -60 0;360 -60 0;' attributeName='transform' dur='120s' repeatCount='indefinite' type='rotate' additive='sum'%3E%3C/animateTransform%3E %3C/rect%3E %3Crect x='748' y='363.5' width='120' height='120' rx='24' ry='24' fill='url(%23vortex-rustrover)' fill-opacity='1' transform='rotate(67) scale(1.4)' transform-origin='868px 423.5px'%3E %3CanimateTransform values='0 -60 0;360 -60 0;' attributeName='transform' dur='120s' repeatCount='indefinite' type='rotate' additive='sum'%3E%3C/animateTransform%3E %3C/rect%3E %3Crect x='748' y='363.5' width='120' height='120' rx='24' ry='24' fill='url(%23vortex-rustrover)' fill-opacity='1' transform='rotate(48) scale(1.18)' transform-origin='868px 423.5px'%3E %3CanimateTransform values='0 -60 0;360 -60 0;' attributeName='transform' dur='120s' repeatCount='indefinite' type='rotate' additive='sum'%3E%3C/animateTransform%3E %3C/rect%3E %3Crect x='748' y='363.5' width='120' height='120' rx='24' ry='24' fill='url(%23vortex-rustrover)' fill-opacity='1' transform='rotate(29) scale(1)' transform-origin='868px 423.5px'%3E %3CanimateTransform values='0 -60 0;360 -60 0;' attributeName='transform' dur='120s' repeatCount='indefinite' type='rotate' additive='sum'%3E%3C/animateTransform%3E %3C/rect%3E %3Crect x='748' y='363.5' width='120' height='120' rx='24' ry='24' fill='url(%23vortex-rustrover)' fill-opacity='1' transform='rotate(10) scale(0.86)' transform-origin='868px 423.5px'%3E %3CanimateTransform values='0 -60 0;360 -60 0;' attributeName='transform' dur='120s' repeatCount='indefinite' type='rotate' additive='sum'%3E%3C/animateTransform%3E %3C/rect%3E %3C/g%3E %3C/svg%3E"),url("data:image/svg+xml,%3Csvg width='577' height='1139' viewBox='0 0 577 1139' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cellipse cx='117.075' cy='569.72' rx='636.606' ry='359.5' transform='rotate(-122.975 117.075 569.72)' fill='url(%23paint0_radial_2_28303)' fill-opacity='0.28'/%3E %3Cdefs%3E %3CradialGradient id='paint0_radial_2_28303' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(117.075 569.72) rotate(90) scale(359.5 636.606)'%3E %3Cstop stop-color='%23FF5D01'/%3E %3Cstop offset='1' stop-color='%23FF5D01' stop-opacity='0'/%3E %3C/radialGradient%3E %3C/defs%3E %3C/svg%3E"),url("data:image/svg+xml,%3Csvg width='1440' height='1542' viewBox='0 0 1440 1542' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cellipse cx='786.672' cy='770.831' rx='1452.56' ry='607' transform='rotate(-21.0804 786.672 770.831)' fill='url(%23paint0_radial_478_36352)' fill-opacity='0.3'/%3E %3Cdefs%3E %3CradialGradient id='paint0_radial_478_36352' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(786.672 770.831) rotate(90) scale(607 1452.56)'%3E %3Cstop stop-color='%2337CB7C'/%3E %3Cstop offset='1' stop-color='%238EC5A5' stop-opacity='0'/%3E %3C/radialGradient%3E %3C/defs%3E %3C/svg%3E"),linear-gradient(0deg,rgba(47,207,129,.6041010154061625),rgba(47,207,129,.5984987745098039) 7%,rgba(47,207,129,0));
}

.intro__header {
  background-image: linear-gradient(
    -225deg,
    rgba(11, 78, 77, 0.8) 0%,
    rgba(20, 37, 73, 0.8) 48%,
    rgba(35, 8, 57, 0.8) 100%,
  );
  background-size: cover;
  background-position: top;
  padding-block: min(20vh, 12rem);
  padding-inline: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  
  .intro__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
 
    .intro__title {
      display: block;
      font-size: clamp(2rem, calc(4vw + 2.2rem), 4.6rem);
      font-weight: 500;
      line-height: 1.5;
      text-shadow: 2px -1px 2px rgba(65, 63, 63, 0.86);
      animation-name: moveToLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      text-align: center;
      color: #fff;
      padding-block-end: min(3vh, 2.0rem);
    }
  
    .intro__description {
      display: block;
      font-weight: 350;
      font-size: clamp(1.4rem, calc(1vw + 1rem), 1.8rem);
      line-height: 1.5;
      letter-spacing: 1.2px;
      text-align: center;
      animation-name: moveToRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      color: rgb(242, 228, 242);
    }
  } 
}

.feature__section {
  padding-inline: 30px;
  padding-block: 30px;
  .feature__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left right';
    grid-auto-flow: column;
    align-items: center;
  
    .feature__image {
      width: 100%;
      border-radius: 4px;
      object-fit: cover;
      animation: fade-in linear;
      animation-timeline: view();
      animation-range-start: 0px;
      animation-range-end: 300px;
      box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    }
    .feature__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16px;
      max-width: 48rem;
      .feature__content__header {
        font-size: clamp(30px, 3vw ,48px);
        line-height: 1.25;
        padding-block: 20px;
        color: black;
      }
      > p {
        font-size: clamp(16px, .8vw, 20px);
        line-height: 1.5;
        color: var(--grey-color);
      }
    }
    .feature__content--right {
      grid-area: right;
    }
    .sticky {
      justify-self: center;
      top: 40px;
      position: sticky;
      align-self: start;
      padding: 100px 16px;
    }
  }
  @media (width < 800px) {
    .feature__wrapper{
      grid-auto-flow: row;
      grid-template-areas: none;
      grid-template-columns: none;
      justify-items: center;
  
      .feature__content--right {
        grid-area: initial;
      }
  
      .sticky {
        padding-block: 20px;
        position: static;
      }
    }
  }
}

.vertical-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card {
  border-radius: 10px;
  background-color: var(--light-blue-color);
  padding: 16px;
  color: black;
  border: 3px solid green;
  background-size: cover;
  background-position: top;
}

.animation-container {
  display: flex;
  max-width: 80vw;
  overflow-x: hidden;
  gap: 0 24px;
}

.animation-item {
  opacity: 1;
  animation: 6s linear alternate infinite;
}
.show {
  animation-name: fade-in;
  display: block;
}

.hide {
  animation-name: fade-out;
  display: none;
}


@keyframes fade-in {
  from {
    scale: .8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

footer {
  color: var(--grey-color);
  background-color: var(--light-blue-color);
  padding-block: 30px;
  padding-inline: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}