<div class="layout--100vh">
  <header class="intro__header">
    <div class="intro__wrapper">
        <div class="intro__title">Make Advanced CNV Annotations </div>
        <div class="intro__description">Effortlessly analyze and prioritize CNVs from multiple tools and samples with inCNV. Our platform offers powerful annotation, filtering, and interactive graphics to enhance your CNV analysis.</div>
    </div>
  </header>
  
  <section class="feature__section">
    <div class="feature__wrapper">
      <div class="feature__content">
        <h1 class="feature__content__header">Visual Overview Analysis and Interact with it</h1>
        <p> See all overlapping CNV numbers through out a given chromosome from one sample with many CNV tools or many samples with one CNV tools. This can help you see the trend of area of interest.</p>
      </div>

      <div class="card">
        <div class="animation-container">
          <div #individual class="animation-item show">
            <img class="feature__image" src="assets/static/images/individual-overview.png">
            <h2> Individual-Sample Analysis</h2>
          </div>
          <div #multiple class="animation-item hide">
            <img class="feature__image" src="assets/static/images/multiple-overview.png">
            <h2> Multiple-Sample Analysis</h2>
          </div>
        </div>
      </div>
    </div>
  
    <div class="feature__wrapper">
      <div class="feature__content feature__content--right sticky">
        <div class="feature__content__header">Prioritize CNVs</div>
        <p> Filter the area of interest via the table sorting and see the CNV information</p>
      </div>
      <div class="vertical-container">
        <div class="card">
          <img class="feature__image" src="/assets/static/images/search-bio.png">
          <h2> Search keywords</h2>
          <p>Filter analyzed results from bioinformatic resources: Ensembl, DGV and Clinvar as well as CNV tool or sample name.</p>
        </div>
        <div class="card">
          <img class="feature__image" src="/assets/static/images/table-result.png">
          <h2> Analyzed Results</h2>
          <p> Show all analyzed results. Click at the table header to sort the data.</p>
        </div>
      </div>
    </div>
    <div class="feature__wrapper">
      <div class="feature__content">
        <div class="feature__content__header">Export the analysis</div>
        <p> Select and export interesting CNVs in CSV file format</p>
      </div>
      <div class="card">
        <img class="feature__image" src="/assets/static/images/select-cnv.png">
      </div>
    </div>
  
    <div class="feature__wrapper">
      <div class="feature__content feature__content--right">
        <div class="feature__content__header">Manage Input Files</div>
        <p> Analyze many samples within one CNV tool</p>
      </div>
      <div class="card">
        <img class="feature__image" src="/assets/static/images/jumping-cat-2.webp">
      </div>
    </div>
  </section>

<footer>
  <div>@inCNV</div>
  <div>Feel free to contact: https://github.com/saowwapark/incnv</div>
</footer>