<div
  class="top-menu__container"
  fxLayoutAlign="row"
  fxLayoutAlign="space-between center"
>
  <div fxLayout="row" fxLayoutAlign="start center">
    <a mat-button style="color: white" routerLink="">
      <img
        src="../../assets/static/images/incnv-logo.svg"
        alt="Home"
        class="top-menu__logo-img"
      />inCNV
    </a>
  </div>

  <div fxLayout="row" fxLayoutAlign="end center">
    <a mat-button style="color: white" routerLink="/register">Register</a>
    <a mat-button style="color: white" routerLink="/signin">Sign in</a>
  </div>
</div>
