@import '../abstracts/variables';

.section-about {
  background-color: $color-gray-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

// .btn {
//   &:link,
//   &:visited {
//     text-decoration: none;
//     padding: 15px 40px;
//     display: inline-block;
//     border-radius: 100px;
//     transform: all 0.2s;
//   }

//   &:hover {
//     transform: translateY(-3px);
//     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
//   }

//   &:active {
//     transform: translateY(-1px);
//     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//   }

//   &--white {
//     background-color: #fff;
//     color: #777;
//   }
// }
