<ng-container *ngIf="!dataSource.data || dataSource.data.length === 0">
  <div class="warning__container--not-show-data mat-elevation-z8">
    <div class="warning__item--not-show-data">
      Please select CNV results.
    </div>
  </div>
</ng-container>

<div
  [style.height]="
    !dataSource.data || dataSource.data.length === 0 ? '0px' : 'auto'
  "
>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button
      mat-button
      mat-raised-button
      color="primary"
      (click)="exportCnvInfos()"
    >
      Export Result
    </button>
  </div>
  <div class="table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      matSort
      [trackBy]="trackByFn"
    >
      <!-- No. Column -->
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let i = dataIndex">{{ i + 1 }}</td>
      </ng-container>

      <!-- Chromosome Column -->
      <ng-container matColumnDef="chromosome">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header-right"
        >
          Chr
        </th>
        <td mat-cell *matCellDef="let row" class="data-right">
          {{ row.chromosome }}
        </td>
      </ng-container>

      <!-- Start Basepair Column -->
      <ng-container matColumnDef="startBp">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header-right"
        >
          Start Position
        </th>
        <td mat-cell class="data-right" *matCellDef="let row">
          {{ row.startBp | number }}
        </td>
      </ng-container>

      <!-- End Basepair Column -->
      <ng-container matColumnDef="endBp">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header-right"
        >
          End Position
        </th>
        <td mat-cell class="data-right" *matCellDef="let row">
          {{ row.endBp | number }}
        </td>
      </ng-container>

      <!-- CNV Type Column -->
      <ng-container matColumnDef="cnvType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CNV Type</th>
        <td mat-cell *matCellDef="let row">{{ row.cnvType }}</td>
      </ng-container>

      <!-- Overlaps -->
      <ng-container matColumnDef="overlapLength">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header-right"
        >
          Overlapping Numbers
        </th>
        <td mat-cell class="data-right" *matCellDef="let row">
          {{ row.overlapLength }}
        </td>
      </ng-container>

      <!-- CNV Tools -->
      <ng-container matColumnDef="cnvTools">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CNV Tools</th>
        <td mat-cell *matCellDef="let row">
          {{ row.overlaps.join('; ') }}
        </td>
      </ng-container>

      <!-- Samples -->
      <ng-container matColumnDef="samples">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sample Names</th>
        <td mat-cell *matCellDef="let row">
          {{ row.overlaps.join('; ') }}
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let row; let i = dataIndex">
            <button mat-icon-button (click)="editRow(row, i)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container> -->

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let i = dataIndex">
          <button mat-icon-button color="warn" (click)="deleteRow(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- expandedEnsembl column (colspan = all columns) -->
      <ng-container matColumnDef="expandedEnsembls">
        <td
          mat-cell
          *matCellDef="let row"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            *ngIf="row.ensembls"
            class="expand-row-wrapper"
            fxLayout="column"
            [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'"
          >
            <div class="expand-row">
              <div class="expand-detail--header">
                Releated Ensembl:
              </div>
              <div class="expand-detail--data">
                <div class="property property-name" fxFlex="1 1 20%">
                  Gene Symbol
                </div>
                <div class="property property-value" fxFlex="1 1 80%">
                  <ng-container
                    *ngIf="
                      row.ensembls && row.ensembls.length > 0;
                      else elseTemplate
                    "
                  >
                    <mat-chip-list>
                      <mat-chip
                        *ngFor="let ensembl of row.ensembls"
                        color="accent"
                        selected
                        class="cursor-pointer"
                        (click)="ensemblLink(ensembl.geneId)"
                      >
                        {{ ensembl.geneSymbol }}
                      </mat-chip>
                    </mat-chip-list>
                  </ng-container>
                  <ng-template #elseTemplate>
                    N/A
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- expandedDGV column (colspan = all columns) -->
      <ng-container matColumnDef="expandedDgvs">
        <td
          mat-cell
          *matCellDef="let row"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            *ngIf="row.dgvs"
            class="expand-row-wrapper"
            fxLayout="column"
            [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'"
          >
            <div class="expand-row">
              <div class="expand-detail--header">
                Releated DGV:
              </div>
              <div class="expand-detail--data">
                <div *ngFor="let dgv of row.dgvs; first as isFirst">
                  <mat-divider
                    *ngIf="!isFirst"
                    [inset]="true"
                    class="property property-row"
                  ></mat-divider>
                  <div class="property property-row" fxLayout="row wrap">
                    <div class=" property-name" fxFlex="1 1 20%">
                      {{ dgv.key }}
                    </div>
                    <div class=" property-value" fxFlex="1 1 80%">
                      <ng-container
                        *ngIf="dgv.values.length > 0; else elseTemplate"
                      >
                        <mat-chip-list>
                          <mat-chip
                            *ngFor="let value of dgv.values"
                            color="accent"
                            selected
                            class="cursor-pointer"
                            (click)="
                              dgvLink(
                                row.referenceGenome,
                                value.variantAccession
                              )
                            "
                          >
                            {{ value.variantAccession }}
                          </mat-chip>
                        </mat-chip-list>
                      </ng-container>
                      <ng-template #elseTemplate>
                        N/A
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- expandedClinvar column (colspan = all columns) -->
      <ng-container matColumnDef="expandedClinvars">
        <td
          mat-cell
          *matCellDef="let row"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            *ngIf="row.clinvar"
            class="expand-row-wrapper"
            fxLayout="column"
            [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'"
          >
            <div class="expand-row">
              <div class="expand-detail--header">
                Related ClinVar:
              </div>
              <div class="expand-detail--data">
                <div class="property-row" fxLayout="row wrap">
                  <div class="property property-name" fxFlex="1 1 20%">
                    OMIM
                  </div>
                  <div class="property property-value" fxFlex="1 1 80%">
                    <ng-container
                      *ngIf="
                        row.clinvar.omimIds && row.clinvar.omimIds.length > 0;
                        else elseTemplate
                      "
                    >
                      <mat-chip-list>
                        <mat-chip
                          *ngFor="let omimId of row.clinvar.omimIds"
                          color="accent"
                          selected
                          class="cursor-pointer"
                          (click)="clinvarLink(omimId)"
                          >{{ omimId }}</mat-chip
                        >
                      </mat-chip-list>
                    </ng-container>
                    <ng-template #elseTemplate>
                      N/A
                    </ng-template>
                  </div>
                </div>

                <div class="property-row" fxLayout="row wrap">
                  <div class="property property-name" fxFlex="1 1 20%">
                    Phenotype
                  </div>
                  <div class="property property-value" fxFlex="1 1 80%">
                    {{ row.clinvar.phenotypes.join('; ') | notAvailable }}
                  </div>
                </div>

                <div class="property-row" fxLayout="row wrap">
                  <div class="property property-name" fxFlex="1 1 20%">
                    Clinical Significance
                  </div>
                  <div class="property property-value" fxFlex="1 1 80%">
                    {{
                      row.clinvar.clinicalSignificances.join('; ')
                        | notAvailable
                    }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- expandedFlankings column (colspan = all columns -->
      <ng-container matColumnDef="expandedFlankings">
        <td
          mat-cell
          *matCellDef="let row"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            *ngIf="row.leftFlanking || row.rightFlanking"
            class="expand-row-wrapper"
            fxLayout="column"
            [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'"
          >
            <div class="expand-row">
              <div class="expand-detail--header">
                Flanking Regions:
              </div>

              <div fxLayout="column" fxLayoutAlign="start stretch">
                <div aria-label="Left flanking region">
                  <div class="property-row" fxLayout="row wrap">
                    <div class="property property-name">
                      Left flanking region
                    </div>
                    <div class="property property-value">
                      (chr{{ row.chromosome | uppercase }}:
                      {{ row.leftFlanking.startBp | number }} -
                      {{ row.leftFlanking.endBp | number }})
                    </div>
                  </div>
                  <div
                    class="property-row"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="10px"
                  >
                    <mat-form-field appearance="fill" style="width: 100%">
                      <textarea
                        #leftFlanking
                        readonly
                        matInput
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="3"
                        >{{ row.leftFlanking.sequence }}
                            </textarea
                      >
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="start end">
                      <button
                        mat-icon-button
                        class="material-icons-two-tone"
                        color="accent"
                        aria-label="copy icon for left flanking"
                      >
                        <mat-icon [ngxClipboard]="leftFlanking"
                          >file_copy</mat-icon
                        >
                      </button>
                    </div>
                  </div>
                </div>

                <div aria-label="Right flanking region">
                  <div
                    class="property-row"
                    fxLayout="row"
                    fxLayoutAlign=" center"
                  >
                    <div class="property property-name">
                      Right flanking region
                    </div>
                    <div class="property property-value">
                      (chr{{ row.chromosome | uppercase }}:
                      {{ row.rightFlanking.startBp | number }} -
                      {{ row.rightFlanking.endBp | number }})
                    </div>
                  </div>
                  <div
                    class="property-row"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="10px"
                  >
                    <mat-form-field appearance="fill" style="width: 100%">
                      <textarea
                        #rightFlanking
                        readonly
                        matInput
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="3"
                        >{{ row.rightFlanking.sequence }}</textarea
                      >
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="start end">
                      <button
                        mat-icon-button
                        color="accent"
                        aria-label="copy icon for right flanking "
                      >
                        <mat-icon [ngxClipboard]="rightFlanking"
                          >file_copy</mat-icon
                        >
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="default-row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedFlankings']"
        class="expand-row"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedEnsembls']"
        class="expand-row"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDgvs']"
        class="expand-row"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedClinvars']"
        class="expand-row"
      ></tr>
    </table>

    <mat-paginator
      [length]="dataSource.data.length"
      [pageSizeOptions]="[5, 10, 25, 50, 100]"
      class="paginator-sticky"
    >
    </mat-paginator>
  </div>
</div>
