@use '@angular/material' as mat;
.mat-dialog-container {
  padding: 0 !important;
}
.mat-dialog-actions {
  margin-bottom: 0 !important;
  padding: 0 24px !important;
  padding-bottom: 24px !important;
}
.mat-dialog-content {
  margin: 0 !important;
  padding: 24px !important;
}

.dialog-default {
  .mat-toolbar {
    background-color: mat.get-color-from-palette($primary, lighter);
    color: white !important;
    margin-bottom: 0 !important;
  }

  // .mat-dialog-container {
  //   padding: 0;

  //   .mat-toolbar {
  //     flex: 1 0 auto;
  //     min-height: initial;
  //   }

  //   .toolbar-bottom {
  //     height: auto;
  //   }
  // }

  // .dialog-content-wrapper {
  //   max-height: 85vh;
  //   display: flex;
  //   flex-direction: column;
  // }
}

.dialog-warning {
  .mat-toolbar {
    background-color: mat.get-color-from-palette($warn);
    color: white !important;
  }
}

.tab-file-mapping-dialog {
  width: 500px;
}

.annotation-dialog {
  width: 700px;
  max-width: 90vw !important;
}
