.grid-color-data {
  background-color: #b9f6ca66;
  border: 0.3px solid #fff;
}

.grid-color-header {
  background-color: #69f0af85;
  border: 0.3px solid #fff;
}

.grid-padding-header {
  padding: 10px 16px;
}

.grid-padding-data {
  padding: 8px 16px;
}
