/* Structure */
.warning__container--not-show-data {
  position: relative;
  min-height: 200px;
}

.warning__item--not-show-data {
  color: #980000;
  max-height: 400px;
  text-align: center;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-height {
  height: 0px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}
